<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
 xmlns:context="http://www.springframework.org/schema/context"
 xmlns:jee="http://www.springframework.org/schema/jee"
 xmlns:mvc="http://www.springframework.org/schema/mvc"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
  http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context-3.0.xsd
  http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
  http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd">

<context:annotation-config />
<mvc:annotation-driven /> 
<mvc:resources mapping="/resources/**" location="/resources/" />
<mvc:resources mapping="/assets/**" location="/assets/" />
 
 <!-- declaring base package -->
 <context:component-scan base-package="com.waio" />

 <!-- adding view resolver to show jsp's on browser -->
 <bean id="viewResolver2"
  class="org.springframework.web.servlet.view.InternalResourceViewResolver">
  <property name="order" value="2"/>
  <property name="prefix" value="/WEB-INF/jsp/" />
  <property name="suffix" value=".jsp" />
 </bean>

<!-- excel export -->
 <bean id="viewResolver1" class="org.springframework.web.servlet.view.XmlViewResolver">
	<property name="order" value="1" />
	<property name="location" value="/WEB-INF/views.xml" />
</bean>

	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver" />
    
 <!-- declare datasource bean -->
   <bean id="dataSource"  class="org.springframework.jdbc.datasource.DriverManagerDataSource">
  <property name="driverClassName" value="com.mysql.jdbc.Driver" />
  <property name="url" value="jdbc:mysql://localhost:3306/viramspecial" />
  <property name="username" value="root" />
  <property name="password" value="root" />  
  </bean> 
  <!-- declare datasource bean -->
 <!--  <bean id="dataSource"  class="org.springframework.jdbc.datasource.DriverManagerDataSource">
  <property name="driverClassName" value="com.mysql.jdbc.Driver" />
  <property name="url" value="jdbc:mysql://localhost:3306/waio_training" />
  <property name="username" value="waio_viram" />
  <property name="password" value="Ramkishan@1" /> 
  </bean>  -->
</beans>
